<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <!-- Text-Container -->
        <div class="text-con">
            <div class="text-inner-con">
                <h2>Profile</h2>
            </div>
            <hr style="width: 100%" /><br><br><br><br><br>
        </div>
    </div>
    <div class="data-con">
        <div class="sec-left">
            <div class="data-one">Personal Info</div>
            <div class="data-two">Register As Job Seekert</div>
            <div class="data-two">Register For Coursest</div>
            <div class="data-two">Register For Training</div>
            <div class="data-two">Sadati Card</div>
            <div class="data-two">Sadati Card Partners</div>
            <div class="data-two">Courses and Development Partners</div>
        </div>
        <div class="sec-right">
            <div class="card">
                <div class="field">
                    <p style="width: 12 rem;">Full Name</p>
                    <input type="text"  placeholder="Enter Name" class="text" name="" id="field">
                </div>

                <div class="field">
                    <p style="width: 14rem;">Phone Number</p>
                    <input type="number" placeholder="Enter Mobile no" class="text" name="" id="field">
                </div>

                <div class="field">
                    <p style="width: 8rem;">Gender</p>
                    <div class="radio" id="radio-field">
                        <label>
                            <input type="radio" name="answer" value="yes">
                            Male
                          </label>
                        
                          <label id="label-2">
                            <input type="radio" name="answer" value="no">
                            Female
                          </label>
                    </div>
                </div>


                <div class="field">
                    <p style="width: 14rem;">Emirates ID Number</p>
                    <input type="number" placeholder="Enter Mobile no" class="text" name="" id="field">
                </div>

                <div class="field">
                    <p style="width: 8rem;" >Nationality </p>
                    <select name="emirates" id="emirates-select">
                        <option selected></option>
                        <option value="1">USA</option>
                        <option value="2">Canada</option>
                        <option value="3">Qatar</option>
                        <option value="4">UAE</option>
                        <option value="5">Italy</option>
                        <option value="6">Pakistan</option>
                    </select>
                </div>

                <div class="field">
                    <p style="width: 5rem;">Email </p>
                    <input type="email" placeholder="Email" class="email" name="" id="field">
                </div>
                
               
                
                <div class="field">
                    <p style="width: 7rem;">emirates</p>
                    <input type="text" placeholder="Please Enter subject" class="text" name="" id="field">
                </div>
               
                <div class="field">
                    <p style="width: 19rem;">Are you people of determination </p>
                    <div class="radio" id="radio-field">
                        <label>
                            <input type="radio" name="answer" value="yes">
                            Yes
                          </label>
                        
                          <label id="label-2">
                            <input type="radio" name="answer" value="no">
                            No
                          </label>
                    </div>
                </div>
                <div class="field">
                    <p style="width: 10rem;">Personal Photo</p>
                    <input type="text" class="text" name="" id="">
                </div>
               <div class="field">
                    <p style="width: 8rem;">The Type </p>
                    <input type="text" class="text" name="" id="">
               </div>
               <div class="field">
                    <p style="width: 8rem;">Password</p>
                    <input type="password" class="password" name="" id="">

               </div>
               <div class="field">
                    <p style="width: 13rem;">Confirm Password</p>
                    <input type="password" class="password" name="" id="">
                </div>
            </div>
            <!-- buttons -->
            <div class="card-btns">
                <div class="btn" style="color:#707070; background-color: white;">
                    <span>Cancel</span>
                </div>
                <div class="btn">
                    <span>Save</span>
                </div>
            </div>
        </div>
    </div>
</div>        