<div class="main-container">
    <div class="sub-container">
        <div class="side-bar">
            <app-side-bar-menue></app-side-bar-menue>
        </div>
        <div class="main-page" routerLink="/Course&TrainingPlatform/courses/program-courses/courses-details">
            <div class="text-about">
                <div class="breadcrumb-1">
                    <nav aria-label="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                                </svg>
                                <a routerLink="laws-regulations">Jon Seekers</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a routerLink="laws-regulations">Jobs</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="head-con">
                    <div class="search-con">
                        <li class="ic">
                            <input type="text" name="" id="" placeholder="Search" />
                            <div class="search-ico">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffff"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </div>
                        </li>
                        <div class="text-head">
                            <h2>Program & Courses</h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="cards-main-conatain">

                 <!-- card-ccontainer-1 -->
                <div class="card-con">
                    <!-- card-1 -->
                    <div class="card">
                        <img src="../assets/images/news-card-4.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                    <!-- card-2 -->
                    <div class="card">
                        <img src="../assets/images/news-card-5.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                    <!-- card-3 -->
                    <div class="card">
                        <img src="../assets/images/news-card-6.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card-container-2 -->
                <div class="card-con-2">
                    <!-- card-1 -->
                    <div class="card">
                        <img src="../assets/images/news-card-4.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                    <!-- card-2 -->
                    <div class="card">
                        <img src="../assets/images/news-card-5.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                    <!-- card-3 -->
                    <div class="card">
                        <img src="../assets/images/news-card-6.png" class="card-img-top" alt="..." height="281.71px">
                        <div class="card-body">
                        <h5 class="card-title">Professional skills course for finance and accounting employees</h5>
                        <h6>Dubai, UAE</h6>
                        <p class="card-text">Program Objectives: · Fundamental differences between the principles of administrative drafting and legal drafting · &nb ....</p>
                        <div class="duration-sec">
                                <span>Duration</span>  
                                <span>4/28/2022</span>                                                                                                                                    
                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="left-sec">
                                <span>Details</span>
                            </div>
                            <div class="right-sec">
                                <img src="../assets/images/sharee.png" alt="" height="24.66px" width="24.34px">
                                <img src="../assets/images/pdff.png" alt="" height="25.29px" width="19.07px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</div>    