<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <!-- Breadcrumb -->
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                        <a routerLink="">Contact Us/</a>
                        <a routerLink="">Register</a>
                    </li>
                </ol>
            </nav>
        </div><br><br><hr>

        <div class="data-container">
            <div class="card">
                    <div class="field">
                        <p style="width: 5rem;">Name<span> *</span></p>
                        <input type="text"  placeholder="Enter Name" class="text" name="" id="field">
                    </div>
                    <div class="field">
                        <p style="width: 5rem;">Email <span> *</span></p>
                        <input type="email" placeholder="Email" class="email" name="" id="field">
                    </div>
                    <div class="field">
                        <p style="width: 5rem;">Mobile<span> *</span></p>
                        <input type="text" placeholder="Enter Mobile no" class="text" name="" id="field">
                    </div>
                    <div class="field">
                        <p style="width: 9rem;">User Journey <span> *</span></p>
                        <select name="emirates" id="emirates-select">
                            <option selected>Please Select</option>
                            <option value="1">Note</option>
                            <option value="2">Suggestion</option>
                            <option value="3">Inquiry</option>
                        </select>
                    </div>
                    <div class="field">
                        <p style="width: 7rem;">Subject<span> *</span></p>
                        <input type="text" placeholder="Please Enter subject" class="text" name="" id="field">
                    </div>
                    <div class="field">
                        <p style="width: 7rem;">Message<span> *</span></p>
                        <input type="text" class="message" name="" id="field">
                    </div>
                    <div class="card-btn">
                        <span>Submit</span>
                    </div>
            </div>




            <div class="right-sec">
                <div class="right-sec-1">
                    <div class="inner-left">
                        <img src="../assets/images/locate.png" alt="location" height="42.61px" width="37.41px">
                        <div class="inner-left-para">
                            <span>Human Resources Department Government Of Fujairah </span><br><br>
                            <span>Address : Al Sharqi Rd - Town </span><br>
                            <span>Center - Fujairah </span><br>
                            <span>P.O.Box :</span><br><br>
                            <span id="li-span"><ul><li><a href="">View on Map</a></li></ul></span>
                        </div>
                    </div>
                    <div class="inner-right">
                        <img src="../assets/images/contact-us-clock.png" alt="location" height="47.06px" width="47.06px">
                        <div class="inner-right-para">
                            <span>Working Hour </span><br><br>
                            <span>Timings </span>
                            <p> Monday to Thursday 7:30 AM to 3:30 PM</p>
                            <span>Friday 7:30 AM to 12 PM</span>
                        </div>
                    </div>
                </div>
                <div class="right-sec-2">
                    <div class="product">
                       <img src="../assets/images/headphones.png" alt="" width="47.02px" height="47px"><br> 
                       <p class="p1">CALL CENTRE</p>
                       <p class="p2">600 547 600</p>
                    </div>
                    <div class="product">
                        <img src="../assets/images/mail-01.png" alt="" width="47px" height="47px"><br>
                        <p class="p1">EMAIL</p>
                        <p class="p2">hr@fuj-hr.ae</p>
                    </div>
                    <div class="product">
                        <img src="../assets/images/web.png" alt="" width="56.15px" height="42.81px"><br> 
                        <p class="p1">WEBSITE</p>
                        <p class="p2">www.fuj-hr.ae</p>
                    </div>
                    <div class="product">
                        <img src="../assets/images/message.png" alt="" width="50.29px" height="47px"><br> 
                        <p class="p1">ONLINE</p>
                        <p class="p2">Chat</p>
                    </div>
                    <div class="product">
                        <img src="../assets/images/android.png" alt="" width="27.76px" height="47px"><br> 
                        <p class="p1">MOBILE APP</p>
                        <p class="p2">MAWARD</p>
                    </div>
                </div>
                <!-- right-sec-3 -->
                <div class="right-sec-3">
                    <div class="product" style="position: relative; top:20px;">
                        <img src="../assets/images/whatsapp-01.png" alt="" width="46.95px" height="47px" ><br> 
                        <p class="p1">WHATSAPP</p>
                        <p class="p2">600 547 600</p>
                     </div>
                     <div class="product">
                        <img src="../assets/images/facebook-01.png" alt="" width="47.39px" height="47px"><br> 
                        <p class="p1">FACEBOOK</p>
                     </div>
                     <div class="product">
                        <img src="../assets/images/twtter-01.png" alt="" width="57.84px" height="47px"><br> 
                        <p class="p1">TWITTER</p>
                     </div>
                     <div class="product">
                        <img src="../assets/images/instagram-01.png" alt="" width="47px" height="47px"><br> 
                        <p class="p1">INSTAGRAM</p>
                     </div>
                     <div class="product" style="position: relative; bottom: 10px;">
                        <img src="../assets/images/youtube-01.png" alt="" width="61.14px" height="61px"><br> 
                        <p class="p1">Youtube</p>
                     </div>
                </div>
                <!-- right-sec-4 -->
                <div class="right-sec-4">
                    <div class="product">
                        <img src="../assets/images/linked in-01.png" alt="" width="47.39px" height="47px"><br> 
                        <p class="p1">LINKEDIN</p>
                     </div>
                     <div class="product" style="margin-left: 15px;">
                        <img src="../assets/images/settings.png" alt="" width="47.39px" height="47px"><br> 
                        <p class="p1">TECH SUPPORT</p>
                     </div>
                     <div class="product">
                        <img src="../assets/images/feedback.png" alt="" width="47.39px" height="47px"><br> 
                        <p class="p1">CUSTOMER FEEDBACK</p>
                     </div>
                </div>
            </div>
        </div>
        <!-- last -container -->
        <div class="contact-detail-container">
            <div class="head">
                <span>All Department Contact Details</span>
            </div>
            <div class="contact-detail-sec-1">
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/profile-man.png" alt="profile" width="70.38px" height="70.38px">
                    </div>
                    <div class="text-detail">
                        <h4>Director Office</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/phone-log.png" alt="profile" width="75.52px" height="75.52px">
                    </div>
                    <div class="text-detail">
                        <h4>call center</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/coin-dollar.png" alt="profile" width="77.76px" height="77.76px">
                    </div>
                    <div class="text-detail">
                        <h4>Payroll Services</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contact-detail-sec-1">
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/profile-man.png" alt="profile" width="70.38px" height="70.38px">
                    </div>
                    <div class="text-detail">
                        <h4>Director Office</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/phone-log.png" alt="profile" width="75.52px" height="75.52px">
                    </div>
                    <div class="text-detail">
                        <h4>call center</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person"> <div class="img1">
                    <img src="../assets/images/coin-dollar.png" alt="profile" width="77.76px" height="77.76px">
                </div>
                <div class="text-detail">
                    <h4>Payroll Services</h4>
                    <table>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>director@fuj-hr.ae</td>
                        </tr>
                        <tr>
                            <td> Phone </td>
                            <td>:</td>
                            <td>092050366</td>
                        </tr>
                        <tr>
                            <td> P.O Box </td>
                            <td>:</td>
                            <td> 01</td>
                        </tr>
                    </table>
                </div></div>
            </div>
            <div class="contact-detail-sec-1">
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/profile-man.png" alt="profile" width="70.38px" height="70.38px">
                    </div>
                    <div class="text-detail">
                        <h4>Director Office</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/phone-log.png" alt="profile" width="75.52px" height="75.52px">
                    </div>
                    <div class="text-detail">
                        <h4>call center</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="person">
                    <div class="img1">
                        <img src="../assets/images/coin-dollar.png" alt="profile" width="77.76px" height="77.76px">
                    </div>
                    <div class="text-detail">
                        <h4>Payroll Services</h4>
                        <table>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>director@fuj-hr.ae</td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td>:</td>
                                <td>092050366</td>
                            </tr>
                            <tr>
                                <td> P.O Box </td>
                                <td>:</td>
                                <td> 01</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
