.main-container{
    height:1609.7px;
    width: 100%;
    padding: 0px;background-color: rgb(254, 247, 235);

}
.imgg{
    margin-top: 200px;
    margin-left: 120px;
}
.all-data{
    display: flex;
    padding-bottom: 200px;
}
.main-page{
    display: flex;
    justify-content: center;
    margin-top: 220px;
    margin-left: 220px;
}