<div class="main-container">
  <div class="all-data">
    <div class="side-bar">
      <app-side-bar-menue ></app-side-bar-menue>
  </div> 
  <div class="main-page">
     <div class="text-about">
      <div class="breadcrumb" >
          <nav aria-label="breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="about us/">About Us</a></li>
              <li class="breadcrumb-item"><a routerLink="/Strategic-Plan">The Strategic Plan</a></li>
            </ol>
          </nav>
      </div>
      <h1>The Strategic Plan</h1>
    </div>
    <div class="mid-sec">
      <div class="imgg">
          <img src="../assets/images/our strategy.jpg" height="799px" width="565px" alt="strategy">
      </div>
    </div>
  </div>      
  </div>
  <!-- <div class="footer">
    <app-footer [displaySearchBar]="displaySearchBar"></app-footer> 
  </div> -->
</div>

 
