<div class="main-container">
    <!-- <app-header></app-header> -->
  <div class="all-data">
      <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
      <div class="text-about">
        <div class="breadcrumb" >
            <nav aria-label="breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="about us/">About Us</a></li>
                <li class="breadcrumb-item"><a routerLink="/Strategic-Plan">Certificates-and-Awards</a></li>
              </ol>
            </nav>
        </div>
        <h1>Certificates-and-Awards</h1>
      </div>
      
      <div class="certificates-container">
        <div class="certifiate-cards">
          <div class="card1">
            <div class="img-1">
              <img src="../assets/images/img-1.png" alt="" height="320px" width="220px">
            </div>
            <div class="text">
              <h2>Quality Management System</h2>
              <p>Certificate</p>
              <div class="lower-data">
                <p>View Certificate<img src="../assets/images/arrrow.png" alt="share" height="20px" width="20px" style="margin-left: 15px;"></p>
                <div class="icons">
                  <img src="../assets/images/share.png" alt="share" height="60px" width="60px">
                  <img src="../assets/images/ppdf.png" alt="pdf(1)" height="60px" width="60px">
                </div>
              </div>
            </div>
          </div>
          <div class="card2">
            <div class="img-1"><img src="../assets/images/img-1.png" alt="" height="320px" width="220px"></div>
            <div class="text">
              <h2>Environmental Management Systems</h2>
              <p>Certificate</p>
              <div class="lower-data">
                <h5>View Certificate<img src="../assets/images/arrrow.png" alt="share" height="20px" width="20px" style="margin-left: 15px;"></h5>
                <div class="icons">
                  <img src="../assets/images/share.png" alt="share" height="60px" width="60px">
                  <img src="../assets/images/ppdf.png" alt="pdf(1)" height="60px" width="60px">
                </div>
              </div>
            </div>
          </div>
          <div class="card3">
            <div class="img-1"><img src="../assets/images/img-1.png" alt="" height="220px" width="220px"></div>
            <div class="text">
              <h2>Information Security ISO 27001:2013</h2>
              <p>Certificate</p>
              <div class="lower-data">
                <p>View Certificate<img src="../assets/images/arrrow.png" alt="share" height="20px" width="20px" style="margin-left: 15px;"></p>
                <div class="icons">
                  <img src="../assets/images/share.png" alt="share" height="60px" width="60px">
                  <img src="../assets/images/ppdf.png" alt="pdf(1)" height="60px" width="60px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>      
  </div>
  <!-- <div class="footer">
    <app-footer [displaySearchBar]="displaySearchBar"></app-footer> 
  </div> -->
</div>
  
   
  