<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <div class="breadcrumb-main-container">
            <!-- Breadcrumb -->
            <div class="breadcrumb-1">
                <nav aria-label="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                                class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                            </svg>
                            <a routerLink="">Course & Training Platform</a>
                            <a routerLink="">/ Courses</a>
                        </li>
                    </ol>
                </nav><br><hr>
            </div>
        </div><br><br>
        <div class="personal-details-con">
            <div class="details-sub-container">
                <div class="sec-1">
                    <div class="left-img">
                        <img src="../assets/images/news-card-6.png" alt="" height="271px" width="325px">
                    </div>
                    <div class="right-detail">
                        <h5>The art of communication and excellent dealing skills with service recipients</h5><br>
                        <span class="span-locat">Dubai , UAE</span><br><br>
                        <div class="ico-con">
                            <div class="one-ico">
                                <img src="../assets/images/clock.png" alt="" height="28.59px" width="28.59px">
                                <span>6/24/2022</span>
                            </div><br>
                            <div class="two-ico">
                                <img src="../assets/images/dollar.png" alt="" height="28.59px" width="28.59px">
                                <span>£16,790 total cost</span>
                            </div><br>
                            <div class="three-ico">
                                <img src="../assets/images/book.png" alt="" height="24.71px" width="24.59px">
                                <span>Days 2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-2">
                    <h5>Objectives of the training course:</h5> 
                    <h5>Recognize strategies for managing customer expectations to provide better customer service</h5>
                    <h5>the ability to evaluate the level of distinguished service in any sector.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="table-main-container">
        <div class="table-container">
            <table>
                <tbody>
                    <tr>
                        <td>Round Symbol</td>
                        <td>D000057</td>
                    </tr>
                    <tr>
                        <td>Course date</td>
                        <td>From 06-20-2022 To 06-21-2022</td>
                    </tr>
                    <tr>
                        <td>Duration of the course</td>
                        <td>Days 2</td>
                    </tr>
                    <tr>
                        <td>Course Timing</td>
                        <td>From 10am To 2</td>
                    </tr>
                    <tr>
                        <td>Place</td>
                        <td>Via the Zoom training platform</td>
                    </tr>
                    <tr>
                        <td>Course presenter</td>
                        <td>Coach/Professor: Mohamed Sameh Chriwati - a consultant coach for the development of self, administrative and intellectual capabilities.</td>
                    </tr>
                    <tr>
                        <td>Target Group</td>
                        <td>Open Invitation</td>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>Category</td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>Number of Seats</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Coordination Officer</td>
                        <td>The role of Al-Mutairi</td>
                    </tr>
                    <tr>
                        <td>direct phone</td>
                        <td>092050375</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>boudour@fuj-hr.ae</td>
                    </tr>
                    <tr>
                        <td>date of publication</td>
                        <td>date of publication</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-con">
        <div class="btun" (click)="ondisplay()" data-bs-toggle="modal" data-bs-target="#myModal">
            <span >Apply</span>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="pop-header">
                    <h4 class="modal-title">Submit Your Feedback</h4>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="icon">
                        <img src="../assets/images/average.png">
                        <p style="color: #B6A573;">Average</p>
                    </div>
                    <div class="icon">
                        <img src="../assets/images/good.png">
                        <p style="color: #D8D8D8;">Good</p>
                    </div>
                    <div class="icon">
                        <img src="../assets/images/verygood.png">
                        <p style="color: #D8D8D8;">Very Good</p>
                    </div>

                    <div class="email-input">
                        <!-- <label for="email">Email</label> -->
                        <input type="email" id="email" name="email" placeholder="Email Address" required>
                    </div>

                    <div class="container mt-3">
                        <form action="/action_page.php">
                          <div class="mb-3 mt-3">
                            <label for="comment" style="color:#B4B4B4;">Notes</label>
                            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                          </div>
                        </form>
                      </div>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-bottom">
                    <div class="modal-btn" (click)="CloseModal()" data-bs-dismiss="modal"><span>submit</span></div>
                </div>
    
            </div>
        </div>
    </div>
    
</div>