<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <!-- Breadcrumb -->
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                        <a routerLink="laws-regulations">Services</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="laws-regulations">Saadati</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="laws-regulations">Partner</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="laws-regulations">Sign in</a>
                    </li>

                </ol>
            </nav>
        </div>
        <!-- Text-Container -->
        <div class="text-con">
            <div class="text-inner-con">
                <h2>Job Offer Details</h2>
            </div>
            <hr style="width: 100%" />
        </div>
        <!-- Retailer arketing Container -->
        <div class="data-con">
            <div class="left-data-sec">
                <!-- text-heading -->
                <h5>Retailer Marketing</h5>
                <div class="card" id="card1">
                    <div class="btn">
                        <span>Marketing</span>
                    </div>
                    <div class="time-data">
                        <div class="line"><img src="../assets/images/clock1.png" alt="dollar" height="20" width="20"><span>6/24/2022</span></div>
                        <div class="line"><img src="../assets/images/dollar.png" alt="dollar" height="20" width="20"><span>Free</span></div>
                        <div class="line"><img src="../assets/images/book.png" alt="book"  height="20" width="20" ><span>Days</span></div>
                    </div>
                </div>
                <h5>Job Details</h5>
                <div class="card" id="card2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit urna ut elit
                        condimentum tempus. Aliquam finibus ac lacus nec sagittis. Vivamus vitae eros non arcu efficitur
                        fringilla. Nulla lacinia egestas tellus, eu fermentum leo hendrerit non. Fusce tortor metus,
                        auctor ac convallis a, vulputate a urna. Ut vulputate metus non enim ultrices facilisis. Donec
                        tortor dui, volutpat ac elit viverra, molestie dapibus massa.</p>
                </div>
            </div>
            <div class="right-data-sec">
                <div class="card" id="right-card">
                    <table>
                        <tr>
                            <td>Code</td>
                            <td>CD000057</td>
                        </tr>
                        <tr>
                            <td>Specialization</td>
                            <td>marketing</td>
                        </tr>
                        <tr>
                            <td>Job classification</td>
                            <td>Full Time</td>
                        </tr>
                        <tr>
                            <td>Employer</td>
                            <td>private sector</td>
                        </tr>
                        <tr>
                            <td>Job conditions</td>
                        </tr>
                        <tr>
                            <td>Estimated salary</td>
                            <td>6000 plus other incentives AED</td>
                        </tr>
                        <tr>
                            <td>number of vacancies</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>date of publication</td>
                            <td>10/28/2022</td>
                        </tr>
                        <tr>
                            <td>closing date</td>
                            <td>11/11/2022</td>
                        </tr>
                    </table>
                </div>
                <div class="right-data-sec-btn">
                    <span>Apply Jobs</span>
                </div>
            </div>
        </div>
    </div>
</div>