<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
        <div class="breadcrumb" >
            <nav aria-label="breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="services">Joob Seeker </a></li>
                <li class="breadcrumb-item">
                    <a routerLink="Overview">Overview</a>
                </li>
              </ol>
            </nav>
      </div>
           <h1>Overview</h1>
           <p>Dissemination of legal culture and job awareness among employees<br><br>
                By providing them with systems, procedures and directives that ensure<br>
                their proper functioning</p>
       </div>
       <div class="sections-1">
           <div class="section" routerLink="/services/employee-proc" >Employee procedures
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" id="section-icon" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg></div>
           <div class="section" routerLink="/career-platform/recruitment">Recruitment
            <i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
           <div class="section" routerLink="/services/"> Pension
            <i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
           <div class="section" routerLink="directors-message">Studies and Strategy
            <i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
       </div>
       <div class="sections-2">
        <div class="section" routerLink="our-strategy">payroll
         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" id="section-icon" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
         <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
       </svg></div>
        <div class="section" routerLink="directors-message">finance
          <i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
        <div class="section" routerLink="/services/"> Archives
          <i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
        <div class="section" routerLink="directors-message">Artificial Intelligence
          <i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
    </div>
    <div class="sections-3">
        <div class="section" routerLink="/services/legalAffairs">Legal Affairs
         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" id="section-icon" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
         <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
       </svg></div>
        <div class="section" routerLink="/career-platform/recruitment">Information Systems
          <i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
        <div class="section" routerLink="/career-platform/recruitment"> Sadati Card
          <i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
    </div>
   </div>
   
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->

