<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
          <!-- Card main conatiner -->
            <div class="card">
                <div class="sub-card-1">
                    <h5>Please Login Here</h5>
                </div>
                <div class="sub-card-2">
                    <div class="inner-left-card-container">
                        <div class="text">
                            <p>Registered User’s</p>
                        </div>
                        <div class="mail-input">
                            <img src="../assets/images/person.png" alt="person">
                            <input type="email" name="email" id="" class="input" placeholder="Email">
                        </div>
                        <div class="pass-input">
                            <img src="../assets/images/lock.png" alt="person">
                            <input type="password" name="" id="" class="input" placeholder="password">
                        </div>
                        <div class="check-forgot">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1" style="margin-left: 10px;"> Remember Me</label>
                            </div>
                            <span>Forgot Password</span>
                        </div>
                        <div class="login-btn">
                            <span>Login</span>
                        </div>
                        <div class="register">  
                            <p>Not Registered yet? <span routerLink="/Course&TrainingPlatform/Course-Training_partners/login-partner/register-now"> Register Now</span></p>
                        </div>
                    </div>
                    <div class="para-or">
                        <span>OR</span>
                    </div>    
                        <div class="inner-right-card-container">
                            <div class="sec-1"> 
                                <h5>Get Started with UAE PASS</h5>
                            </div>
                            <div class="sec-2">
                                <div class="sign-in-btn" >
                                    <img src="../assets/images/thumbUAE.jpg" alt="" >
                                    <span class="p3">Sign in with UAE PASS</span>
                                </div>
                    </div>
                    <div class="sec-3">
                        <p class="p4">A single trusted tigital identity for all the citizens, <br> residents and visitors</p>
                    </div>
                    <div class="sec-4">
                        <p class="p5">For more information. please check the user manual form <span style="color:#1B75BB;">here</span></p>
                    </div>
                </div>
            </div>
    </div>
     
</div>

