<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
        <div class="breadcrumb" >
            <nav aria-label="breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="about us">Media Cent/</a></li>
              </ol>
            </nav>
      </div>
           <h1>Overview</h1>
           <p>Dissemination of legal culture and job awareness among employees<br>
                By providing them with systems, procedures and directives that ensure<br>
                their proper functioning</p>
       </div>
       <div class="sections-1">
           <div class="section" routerLink="/media-center/spokesPerson"> Spokes Person
            <img src="../assets/images/spokes-persons.png" alt="spokes" height="47.84px" width="37.03px">  
          </div>
           <div class="section" >Photo Library
            <img src="../assets/images/photo-library.png" alt="spokes" height="47.84px" width="37.03px"> 
           </div>
           <div class="section">Video Library
            <img src="../assets/images/video-library.png" alt="spokes" height="47.84px" width="37.03px"> 
           </div>
       </div>
       <div class="sections-2">
        <div class="section" >News
          <img src="../assets/images/news.png" alt="spokes" height="47.84px" width="37.03px"> 
        </div>
        <div class="section">Events
          <img src="../assets/images/events.png" alt="spokes" height="47.84px" width="37.03px"> 
        </div>
        <div class="section">Publications
          <img src="../assets/images/publications.png" alt="spokes" height="47.84px" width="37.03px"> 
        </div>
    </div>
    <div class="button-open">
      <div class="open-data" routerLink="/media-center/open-data">
        <h3>Open Data</h3>
      </div>
    </div>
   </div>
   
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->

