<div class="main-container">
  <div class="main-page">
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-house-door-fill"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"
                    />
                    </svg>
                    <a routerLink="laws-regulations">Services</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="laws-regulations">Saadati Card</a>
                </li>
                </ol>
            </nav>
        </div>
        <div class="text-con">
            <div class="text-inner-con">
                <h2>Our Partners</h2>
                <div class="btns">
                    <div class="sign-in">
                        <span>Sign in</span>
                        <div class="ico">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                fill="currentColor"
                                class="bi bi-box-arrow-in-right"
                                viewBox="0 0 16 16"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                                />
                                <path
                                fill-rule="evenodd"
                                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                />
                            </svg>
                        </div>
                    </div>
                    <div class="register-part">
                        <span>Register to Be a Partner</span>
                        <div class="ico">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                fill="currentColor"
                                class="bi bi-box-arrow-in-right"
                                viewBox="0 0 16 16"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                                />
                                <path
                                fill-rule="evenodd"
                                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 100%" />
        </div>
        <div class="section-con-2">
            <div class="select-1">
                <div class="select-div">
                    <select name="emirates" id="emirates-select">
                        <option selected>Emirates</option>
                        <option value="1">USA</option>
                        <option value="2">Canada</option>
                        <option value="3">Qatar</option>
                        <option value="4">UAE</option>
                        <option value="5">Italy</option>
                        <option value="6">Pakistan</option>
                    </select>
                </div>
            </div>
            <div class="select-2">
                <div class="select-div">
                    <select name="emirates" id="emirates-select">
                        <option selected>Category</option>
                        <option value="1">USA</option>
                        <option value="2">Canada</option>
                        <option value="3">Qatar</option>
                        <option value="4">UAE</option>
                        <option value="5">Italy</option>
                        <option value="6">Pakistan</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="section-con-4">
            <!-- card container 1 -->
            <div class="card-con">
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-tags-fill"
                                viewBox="0 0 16 16"
                            >
                                <path
                                d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                                />
                                <path
                                d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                                />
                            </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two"><span id="span1">Furniture</span></div>
                    <div class="card-sec-three">
                
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on<p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic3.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two"><span id="span2">Entertainment</span></div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic1.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two">
                        <span id="span3">Shatha Beauty & spa</span>
                    </div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic5.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two">
                        <span id="span3">Shatha Beauty & spa</span>
                    </div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic2.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        <div class="left-sec-text"><p>See Lounge</p></div>
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
            </div>
            <div class="card-con">
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-tags-fill"
                                viewBox="0 0 16 16"
                            >
                                <path
                                d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                                />
                                <path
                                d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                                />
                            </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two"><span id="span1">Furniture</span></div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic3.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two"><span id="span2">Entertainment</span></div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic1.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                                                <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two">
                        <span id="span3">Shatha Beauty & spa</span>
                    </div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic5.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-sec-one">
                        <div class="tag-ico">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tags-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                            />
                            <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                            />
                        </svg>
                        </div>
                        <div class="text"><span>Danube Home</span></div>
                    </div>
                    <div class="card-sec-two">
                        <span id="span3">Shatha Beauty & spa</span>
                    </div>
                    <div class="card-sec-three">
                        <p
                        >20% Discount on beard shaving - 20% discount on haircut - 20%
                        discount on</p
                        >
                    </div>
                    <div class="card-sec-four">
                        <img
                        src="../assets/images/ic2.png"
                        alt=""
                        height="160"
                        width="311"
                        />
                    </div>
                    <div class="card-sec-five">
                        
                        <div class="right-btn"><span>Read More</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
