.main-container{
    height: 220vh;
    background-color: #F6F4F0;
    display: flex;
    justify-content: center;
    align-items: start;
}
.main-page{
    width: 80%;
    height: 120vh;
    margin-top: 170px;
}
.text-con{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 30vh;
}
.text-inner-con{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 15vh;
    width: 60%;

}
.btns{
    display: flex;
}
.text-inner-con h2{
    font-size: 30px;
    margin-left: 60px;
    font-family: 'Montserrat-SemiBold',sans-serif;  
}
.sign-in{
    background-color: white;
    border: 1px solid rgb(238, 236, 236);
    border-radius: 20px;
    margin-right: 30px;
    display: flex;
    height: 60.14px;
    width: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.sign-in:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.register-part{
    background-color: white;
    border: 1px solid rgb(238, 236, 236);
    border-radius: 20px;
    display: flex;
    margin-left: 20px;
    height: 60.14px;
    width: 200px;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    cursor: pointer;
}
.register-part:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
span{
    font-size: 20px;
} 
.register-part span{
    width: 120px;
    margin-left: 20px;
    
}
/* Section-con-2 */
.section-con-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.select-1{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 30px;
    align-items: center;
    justify-content: end;  
}
.select-2{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    width: 50%  ;
}
.select-div{
    background-color: white;
    border-radius: 30px;
}
#emirates-select{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 482.35px;
    color: #a39f9f;
    background-color: white;
    height: 62.68px;
    border: 1px solid rgb(201, 196, 196);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    /* padding: 15px; */
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/assets/images/select-arrow.png') no-repeat right center;
  background-size: 16px 16px;
  background-position: right 4% bottom 45%;
  padding-right: 20px; 
  }

  /* section 4 */
.section-con-4{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-con{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 330px;
    border-radius: 10px;
    border: none;
    height: 403px;
}
.card-sec-one{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 6vh;
    width: 80%;
    margin-left: 10px;
}
.tag-ico{
    background-color: #856C3F;
    color: aliceblue;
    border-radius: 30px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text span{
    font-size: 22px;
    color: #856C3F;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}
#span1{
    margin-right: 50px;
}
#span2{
margin-left: 0px;
}
#span3{
    width: 100%;
    margin-left: 60px;
}
.card-sec-two{
    width: 80%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.card-sec-two span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    color: #C3C8D8;
}
.card-sec-three{
    color: #707070;
    width: 85%;
    margin-left: 40px;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    display: flex;
}
.card-sec-four{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-sec-five{
    width: 100%;
    height:10vh ;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Montserrat',sans-serif;
}
.card-sec-five .left-sec-text{
    margin-right: 50px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat-medium',sans-serif;
    color: #707070;
}

.right-btn{
    width: 50%;
    display: flex;
    justify-content: end;
}
.right-btn span{
    border: 1px solid #856C3F;
    width: 101px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #856c3f;
    border-radius: 30px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.right-btn span:hover{
    color: white;
    background-color: #856C3F;
}