<div>
  <app-header></app-header>
  <!-- <app-home></app-home>
  <app-about-us></app-about-us> -->
  <!-- <app-strategic-plan></app-strategic-plan> -->
  <!-- <app-header></app-header> -->
  <!-- <app-certificate-awards></app-certificate-awards> -->
  <!-- <app-strategic-plan></app-strategic-plan> -->
  <!-- <app-director-msg></app-director-msg> -->
  <!-- <app-organizational-chart></app-organizational-chart> -->
  <!-- <app-laws-regulations></app-laws-regulations> -->
  <!-- <app-hr-law></app-hr-law> -->
  <!-- <app-circular></app-circular> -->
  <!-- <app-legal-culture></apfooterp-legal-culture> -->
    <!-- <app-employee-proc></app-employee-proc> -->
    <!-- <app-recruitment></app-recruitment> -->
    <!-- <app-legal-affairs></app-legal-affairs> -->
    <!-- <app-sign-in-uae></app-sign-in-uae> -->
    <!-- <app-partners></app-partners> -->
    <!-- <app-partner-sign-in></app-partner-sign-in> -->
    <!-- <app-job-offer-details></app-job-offer-details> -->
    <!-- <app-register-for-partner></app-register-for-partner> -->
    <!-- <app-spokes-person></app-spokes-person> -->
    <!-- <app-media-center-open-data></app-media-center-open-data> -->
    <!-- <app-news></app-news> -->  
    <!-- <app-photo-video-gallery></app-photo-video-gallery> -->
    <!-- <app-job-registeration-page></app-job-registeration-page> -->
    <!-- <app-contact-us></app-contact-us> -->
    <!-- <app-courses></app-courses> -->
    <!-- <app-program-courses></app-program-courses> -->
    <!-- <app-courses-details></app-courses-details> -->
    <!-- <app-courses-registeration></app-courses-registeration> -->
    <!-- <app-suggest-courses></app-suggest-courses> -->
    <!-- <app-training-hall-booking></app-training-hall-booking> -->
    <!-- <app-training-partners></app-training-partners> -->
    <!-- <app-training-partnerlogin></app-training-partnerlogin> -->
    <!-- <app-registeration-now></app-registeration-now> -->
    <!-- <app-register-as-partner></app-register-as-partner> -->
    <!-- <app-carousel-two></app-carousel-two> -->
    <router-outlet></router-outlet>
  <app-footer></app-footer>
    

 
  
</div>
