<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
            <div class="breadcrumb" >
                <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="about us">Media Cent/</a></li>
                </ol>
                </nav>
            </div>
            <h1>Overview</h1>
            <p>Dissemination of legal culture and job awareness among employees<br>
                    By providing them with systems, procedures and directives that ensure<br>
                    their proper functioning</p>
       </div>
       <div class="sections-1">
           <div class="section" routerLink="/media-center/spokesPerson">Spokes Person
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
           <div class="section" routerLink="/media-center/news" >News
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>   
            </div>
           <div class="section" routerLink="organizational-chart">Events
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>    
            </div>
       </div>
       <div class="sections-2">
            <div class="section" routerLink="/media-center/photo-videoGallery" >Photo library
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div class="section" routerLink="/media-center/photo-videoGallery">Video Library
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div class="section" routerLink="/media-center/">Publications
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- webVisitor-con -->
    <div class="webVisitor-cont">
        <div class="inner-webvisit-cont">
            <div class="head-webvisit">
                <h3>Website Visitors</h3>
            </div>
            <!-- 1st card-line -->
            <div class="one-card-sec">
                <div class="left-card">
                    <div class="date-sec">
                        <span>12/Jan/2022</span>
                    </div>
                    <div class="sec-two">
                        <div class="img-sec">
                                           </div>
                        <div class="text-inner-sec">
                            <span>12,002</span>
                            <p>Website Visitors Per Day</p>
                            <p>xlsx, 16.11 KB</p>
                        </div>
                    </div>
                </div>
                <div class="right-card">
                    <div class="date-sec">
                        <span>12/Jan/2022</span>
                    </div>
                    <div class="sec-two">
                        <div class="img-sec">
                                           </div>
                        <div class="text-inner-sec">
                            <span>50%</span>
                            <p>Emiratization percentage</p>
                        </div>
                    </div>
                </div>
            </div>
              <!-- 2nd card-line -->
                <div class="second-card-sec">
                    <div class="left-card">
                        <div class="date-sec">
                            <span>12/Jan/2022</span>
                        </div>
                        <div class="sec-two">
                            <div class="img-sec">
                                                   </div>
                            <div class="text-inner-sec">
                                <span>12,002</span>
                                <p>Website Visitors Per Day</p>
                                <p>xlsx, 16.11 KB</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-card">
                        <div class="date-sec">
                            <span>12/Jan/2022</span>
                        </div>
                        <div class="sec-two">
                            <div class="img-sec">
                                                   </div>
                            <div class="text-inner-sec">
                                <span>50%</span>
                                <p>Emiratization percentage</p>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- 3rd card-line -->
                <div class="third-card-sec">
                    <div class="left-card">
                        <div class="date-sec">
                            <span>12/Jan/2022</span>
                        </div>
                        <div class="sec-two">
                            <div class="img-sec">
                                                   </div>
                            <div class="text-inner-sec">
                                <span>12,002</span>
                                <p>Website Visitors Per Day</p>
                                <p>xlsx, 16.11 KB</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-card">
                        <div class="date-sec">
                            <span>12/Jan/2022</span>
                        </div>
                        <div class="sec-two">
                            <div class="img-sec">
                                                   </div>
                            <div class="text-inner-sec">
                                <span>50%</span>
                                <p>Emiratization percentage</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->

