<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <!-- Breadcrumb -->
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#856C3F"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                        <a routerLink="laws-regulations">Media Center/</a>
                    </li>

                </ol>
            </nav>
        </div>
        <!-- Text-Container -->
        <div class="text-con">
            <div class="text-inner-con">
                <h2>News</h2>
            </div>
            <hr style="width: 100%" />
        </div>
    </div>
    <div class="cards-container">
        <div class="sec-1">
            <!-- sec-1-card-1 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-1.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
            <!-- sec-1-card-2 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-2.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
            <!-- sec-1-card-3 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-3.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- sec-2-card -->
        <div class="sec-2">
            <!-- sec-2-card-4 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-4.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
            <!-- sec-2-card-5 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-5.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
            <!-- sec-2-card-6 -->
            <div class="card">
                <div class="image-sec"><img src="../assets/images/news-card-6.png" alt="news-card-1" width="390px" height="234px"></div>
                <div class="head-sec">
                    <h4>Two international symbols of the two largest divas</h4>
                </div>
                <div class="para-sec">
                    <p>The UAE has hosted two international symbols for the two largest religions: Pope Francis and
                        Grand Imam Ahmed Al-Tayeb. A historic meeting that our</p>
                </div>
                <div class="date-add-sec">
                    <div class="Add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-globe-americas" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                          </svg>
                        <span>Long Name Here</span>
                    </div>
                    <div class="time-sec">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" fill="#856C3F" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          </svg>
                        <span>1h ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>