<div class="main-container">
    <div class="main-page">
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                        <a routerLink="laws-regulations">Services</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="laws-regulations">Saadati Card</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="text-con">
            <div class="text-inner-con">
                <h2>Our Service Providers - Training</h2>
                <div class="btns">
                    <div class="sign-in" routerLink="/Course&TrainingPlatform/Course-Training_partners/login-partner">
                        <span>Sign in</span>
                        <div class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </div>
                    </div>
                    <div class="register-part" routerLink="/Course&TrainingPlatform/Course-Training_partners/register-partner" >
                        <span>Register to Be a Partner</span>
                        <div class="ico">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width: 100%" />
        </div>
        <div class="card-container">
            <div class="one-sec-con">
                <div class="left-card-sec">
                    <div class="card">
                        <div class="img">
                            <img src="../assets/images/news-card-2.png" alt="card2" width="280px" height="229.9997px">
                        </div>
                        <div class="text-info">
                            <p >Timeline Technology Sol</p>
                            <table class="example-table">
                                <tr>
                                  <td>Telephone</td>
                                  <td>501597600</td>
                                </tr>
                                <tr>
                                  <td>Mobile</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>info@timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Website</td>
                                  <td>www.timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Address</td>
                                  <td></td>
                                </tr>
                              </table>
                              
                        </div>
                    </div>
                </div>
                <div class="right-card-sec">
                    <div class="card">
                        <div class="img">
                            <img src="../assets/images/news-card-2.png" alt="card2" width="280px" height="229.9997px">
                        </div>
                        <div class="text-info">
                            <p>Timeline Technology Sol</p>
                            <table class="example-table">
                                <tr>
                                  <td>Telephone</td>
                                  <td>501597600</td>
                                </tr>
                                <tr>
                                  <td>Mobile</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>info@timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Website</td>
                                  <td>www.timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Address</td>
                                  <td></td>
                                </tr>
                              </table>
                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="two-sec-con">
                <div class="left-card-sec">
                    <div class="card">
                        <div class="img">
                            <img src="../assets/images/news-card-2.png" alt="card2" width="280px" height="229.9997px">
                        </div>
                        <div class="text-info">
                            <p>Timeline Technology Sol</p>
                            <table class="example-table">
                                <tr>
                                  <td>Telephone</td>
                                  <td>501597600</td>
                                </tr>
                                <tr>
                                  <td>Mobile</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>info@timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Website</td>
                                  <td>www.timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Address</td>
                                  <td></td>
                                </tr>
                              </table>
                              
                        </div>
                    </div>
                </div>
                <div class="right-card-sec">
                    <div class="card">
                        <div class="img">
                            <img src="../assets/images/news-card-2.png" alt="card2" width="280px" height="229.9997px">
                        </div>
                        <div class="text-info">
                            <p>Timeline Technology Sol</p>
                            <table class="example-table">
                                <tr>
                                  <td>Telephone</td>
                                  <td>501597600</td>
                                </tr>
                                <tr>
                                  <td>Mobile</td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>info@timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Website</td>
                                  <td>www.timeline.ae</td>
                                </tr>
                                <tr>
                                  <td>Address</td>
                                  <td></td>
                                </tr>
                              </table>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>