<div class="main-container">
  <div class="all-data">
        <div class="side-bar">
        <app-side-bar-menue></app-side-bar-menue>
        </div>
        <div class="main-page">
            <div class="breadcrumb">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                      </svg>
                    <a routerLink="about us/">About Us</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/Strategic-Plan">Director’s Massage</a>
                </li>
                </ol>
            </nav>
            </div>
        </div>
  </div>
  <div class="text-container">
    <div class="sec-one">
      <div class="head">
        <h1>Director’s Message</h1>
      </div>
      <div class="div">
        <div class="message">
          <p>Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do
            eiusmod tempor incididunt ut labore et dolore roipi magna aliqua.
            Ut enim ad minim veeniam, quis nostruklad exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in tufpoy voluptate velit esse cillum
            dolore eu fugiat nulla parieratur. Excepteur sint occaecat
            cupidatat.</p>
        </div>
      </div>
      <div class="image-sec">
        <div class="image1">
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="white" class="bi bi-image-alt" viewBox="0 0 16 16">
                <path d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"/>
              </svg>
        </div>
      </div>
    </div>
    <div class="sec-two">
      <div class="message">
        <p>Culpa qui officia deserunt mollit anim id est laborum. Sed ut
            perspiciatis unde omnis iste natus error sit voluptartem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
            inventore veritatis et quasi ropeior architecto beatae vitae dicta
            sunt explicabo. Nemo eniem ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eosep quiklop ratione voluptatem sequi nesciunt. Neque porro
            quisquam est, quepi dolorem ipsum quia dolor srit amet, consectetur
            adipisci velit, seid quia non numquam eiuris modi tempora incidunt
            ut labore et dolore magnam aliquam quaerat iope voluptatem.<br><br><br>    
            Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod
            tempor incididunt ut labore et dolore roipi magna aliqua. Ut enim ad
            minim veeniam, quis nostruklad exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in tufpoy voluptate velit esse cillum dolore eu fugiat
            nulla parieratur. Excepteur sint occaecat cupidatat.</p>
      </div>
    </div>
    <div class="sec-three">
      <div class="head-2"><h1>Vission</h1></div>
      <div class="image2">
        <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="white" class="bi bi-image-alt" viewBox="0 0 16 16">
            <path d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"/>
          </svg>
      </div>
    </div>
  </div>
</div>
