<!-- <app-header></app-header> -->

<div class="main-container">
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>

  <div class="sub-container">
    <div class="side-bar">
      <app-side-bar-menue></app-side-bar-menue>
    </div>
    <div class="main-page">
      <div class="text-about">
        <div class="breadcrumb">
          <nav aria-label="breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="services">Services </a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="Overview">Saadati Cards</a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="saadati-card">
          <div class="text-sec">
            <div class="head">
              <h1>Saadati Cards</h1>
            </div>
            <br /><br />
            <div class="para">
              <p>
                Lorem ipsum dolor sit amet, in eam odio amet, vix id nullam
                detracto, vidit vituperatoribus duo id. Affert detraxit
                voluptatum vis eu, inermis eloquentiam.
              </p>
            </div>
          </div>
          <div class="card-img-cont">
            <div class="card-img">
              <img
                src="../assets/images/ic2.png"
                alt="ic5"
                height="79"
                width="246"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sections-cont-1">
        <div class="section">
          <a routerLink="spkoes-person" class="menu-link"></a
          ><span>Sign in / Register for New Card</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            id="section-icon"
            fill="currentColor"
            class="bi bi-box-arrow-in-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
            />
            <path
              fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
            />
          </svg>
        </div>
        <div class="section">
          <a routerLink="directors-message" class="menu-link"></a
          ><span>Partners</span>
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </div>
        <div class="section">
          <a routerLink="organizational-chart" class="menu-link"></a
          ><span>Contact Us</span>
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="section-con-2">
        <div class="select-1">
          <div class="select-div">
            <select name="emirates" id="emirates-select">
              <option selected>Emirates</option>
              <option value="1">USA</option>
              <option value="2">Canada</option>
              <option value="3">Qatar</option>
              <option value="4">UAE</option>
              <option value="5">Italy</option>
              <option value="6">Pakistan</option>
            </select>
          </div>
        </div>
        <div class="select-2">
          <div class="select-div">
            <select name="emirates" id="emirates-select">
              <option selected>Category</option>
              <option value="1">USA</option>
              <option value="2">Canada</option>
              <option value="3">Qatar</option>
              <option value="4">UAE</option>
              <option value="5">Italy</option>
              <option value="6">Pakistan</option>
            </select>
          </div>
        </div>
      </div>
      <div class="section-con-3">
        <div class="item-one-con">
          <div class="item-one">
            <div class="item">Hotel</div>
            <div class="item">Furniture</div>
            <div class="item">Sports</div>
            <div class="item">Education</div>
            <div class="item">General</div>
            <div class="item">Food</div>
          </div>
        </div>
        <div class="item-two-con">
          <div class="item-two">
            <div class="item">Education</div>
            <div class="item">Beauty</div>
            <div class="item">Entertainment</div>
            <div class="item">Shopping</div>
            <div class="item">Health</div>
            <div class="item">All</div>
          </div>
        </div>
      </div>
      <div class="section-con-4">
        <div class="card-con">
          <div class="card">
            <div class="card-sec-one">
              <div class="tag-ico">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-tags-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                  />
                  <path
                    d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                  />
                </svg>
              </div>
              <div class="text"><span>25% Discount</span></div>
            </div>
            <div class="card-sec-two"><span id="span1">Furniture</span></div>
            <div class="card-sec-three">
              <span
                >20% Discount on beard shaving - 20% discount on haircut - 20%
                discount on</span
              >
            </div>
            <div class="card-sec-four"><img src="../assets/images/ic3.png" alt="" height="160" width="301"></div>
            <div class="card-sec-five">
              <div class="left-text"><span>10 Oct,2022</span></div>
              <div class="right-btn"><span>Read More</span></div>
            </div>
          </div>
          <div class="card">
            <div class="card-sec-one">
              <div class="tag-ico">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-tags-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                  />
                  <path
                    d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                  />
                </svg>
              </div>
              <div class="text"><span>30% Discount</span></div>
            </div>
            <div class="card-sec-two"><span id="span2">Entertainment</span></div>
            <div class="card-sec-three">
              <span
                >20% Discount on beard shaving - 20% discount on haircut - 20%
                discount on</span
              >
            </div>
            <div class="card-sec-four"><img src="../assets/images/ic1.png" alt="" height="160" width="301"></div>
            <div class="card-sec-five">
              <div class="left-text"><span>See Lounge</span></div>
              <div class="right-btn"><span>Read More</span></div>
            </div>
          </div>
          <div class="card">
            <div class="card-sec-one">
              <div class="tag-ico">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-tags-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                  />
                  <path
                    d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"
                  />
                </svg>
              </div>
              <div class="text"><span >30% Discount</span></div>
            </div>
            <div class="card-sec-two"><span id="span3">Shatha Beauty & spa</span></div>
            <div class="card-sec-three">
              <span
                >20% Discount on beard shaving - 20% discount on haircut - 20%
                discount on</span
              >
            </div>
            <div class="card-sec-four"><img src="../assets/images/ic5.png" alt="" height="160" width="301"></div>
            <div class="card-sec-five">
              <div class="left-text"><span>22 Aug,2022</span></div>
              <div class="right-btn"><span>Read More</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->
