<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
        <div class="breadcrumb" >
            <nav aria-label="breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="laws-regulations">Laws & Regulations</a></li>
                <li class="breadcrumb-item"><a routerLink="laws-regulations">Human Resource Law</a></li>

              </ol>
            </nav>
      </div>
           <h1>Laws & Regulations</h1>
           <p>Dissemination of legal culture and job awareness among employees<br>
                By providing them with systems, procedures and directives that ensure<br>
                their proper functioning</p>
       </div><br><br>
       <div class="section">
        <div class="section-one">
            <div class="left-sec">
                <h1>Human Resource Law</h1>
            </div>
            <div class="right-sec">
                <li class="ic"><input type="text" name="" id="" placeholder="Search">
                    <div class="search-ico"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="white" style="font-weight: bolder;" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></div>
                </li>                 
            </div>
        </div>
        <div class="section-two">
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>HR Law</th>
                        <th>Title</th>
                        <th>Law Files</th>
                        <th>File</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>17</td>
                        <td>67,892</td>
                        <td>26.3%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>18</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>19</td>
                        <td>62,767</td>
                        <td>9.3%</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
       </div>
   </div>
   
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->
