<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
        <div class="breadcrumb" >
            <nav aria-label="breadcrumb-container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="laws-regulations">Laws & Regulations</a></li>
                <li class="breadcrumb-item"><a routerLink="laws-regulations">Circular</a></li>

              </ol>
            </nav>
      </div>
           <h1>Circulars</h1>
           <p>Dissemination of legal culture and job awareness among employees<br>
                By providing them with systems, procedures and directives that ensure<br>
                their proper functioning</p>
       </div><br><br>
       <div class="section">
        <div class="section-one">
            <div class="left-sec">
                <h1>Circulars</h1>
            </div>
        </div>
        <div class="section-two">
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>HR Law</th>
                        <th>Title</th>
                        <th>Law Files</th>
                        <th>File</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>17</td>
                        <td>67,892</td>
                        <td>26.3%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>18</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>19</td>
                        <td>62,767</td>
                        <td>9.3%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>20</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>21</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>22</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>23</td>
                        <td>89,298</td>
                        <td>49.2%</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
       </div>
   </div>
   
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->
