<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue></app-side-bar-menue>
    </div>
    <div class="main-page">
        <div class="text-about">
            <div class="breadcrumb">
                <nav aria-label="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="about us">Course & Training Platform</a></li>
                        <li class="breadcrumb-item"><a routerLink="about us">Course & Training Platform</a></li>
                    </ol>
                    
                </nav>
            </div>
            <h1>Course & Training Platform</h1>
            <p>Lorem ipsum dolor sit amet, in eam odio amet, vix id nullam detracto,<br> vidit vituperatoribus duo id.
                Affert detraxit voluptatum vis eu, inermis <br> eloquentiam.</p>
        </div>

        <div class="section-one">
            <div class="section" style="background-color:#856C3F ; color: white;" routerLink="/Course&TrainingPlatform/courses">Courses
             <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" id="section-icon" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
             <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
           </svg></div>
            <div class="section" routerLink="/Course&TrainingPlatform/training">Training
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div class="section" routerLink="/Course&TrainingPlatform/Course-Training_partners">Courses and Training <br> Partners
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="section-two">
            <div class="section" routerLink="/Course&TrainingPlatform/training-hall-booking">Certificate  & Awards
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" id="section-icon" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
            </div>
            <div class="section" routerLink="/contact-us">Contact us
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </div>
        </div>
 
    </div>
</div>
