<!-- Main -Container -->
<div class="main-container">
    <!-- Main-Page -->
    <div class="main-page">
        <!-- Breadcrumb -->
        <div class="breadcrumb-1">
            <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                        </svg>
                        <a routerLink="laws-regulations">job seeker /</a>
                        <a routerLink="laws-regulations">Courses Registeration</a>
                    </li>

                </ol>
            </nav>
        </div>
        <!-- Text-Container -->
        <div class="text-con">
            <div class="text-inner-con">
                <h2>Courses Registeration</h2>
            </div>
            <hr style="width: 100%" /><br><br><br><br><br>
        </div>
        .
                  <!-- Card -->
                <div class="card">
                    <div class="card-con">


                        <!-- sec-1 -->
                        <div class="main-sec">
                            <div class="left-field" >
                                <p style="width: 10rem;">First Name <span> *</span></p>
                                <input type="text" class="text" name="" id="" >
                            </div>
                            <div class="right-field">
                                <p style="width: 19rem;">People of determination <span> *</span></p>
                                <div class="radio" id="radio-field">
                                    <label>
                                        <input type="radio" name="answer" value="yes">
                                        Yes
                                      </label>
                                    
                                      <label id="label-2">
                                        <input type="radio" name="answer" value="no">
                                        No
                                      </label>
                                </div>
                            </div>
                        </div>


                        <!-- sec-2 -->
                        <div class="main-sec">
                            <div class="left-field">
                                <p style="width: 12rem;">Second Name<span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                            <div class="right-field">
                                <p style="width: 22rem;">If yes, please state the situation:</p>
                                <input type="text" class="text" name="" id="">
                            </div>
                        </div>


                        <!-- sec-3 -->
                        <div class="main-sec">
                            <div class="left-field">
                                <p style="width: 10rem;">Third Name <span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                            <div class="right-field">
                                    <p style="width: 8rem;" >emirate <span> *</span></p>
                                    <select name="emirates" id="emirates-select">
                                        <option selected></option>
                                        <option value="1">USA</option>
                                        <option value="2">Canada</option>
                                        <option value="3">Qatar</option>
                                        <option value="4">UAE</option>
                                        <option value="5">Italy</option>
                                        <option value="6">Pakistan</option>
                                    </select>
                            </div>
                        </div>


                        <!-- sec-4 -->
                        <div class="main-sec" id="four-sec">
                            <div class="left-field">
                                <p style="width: 10rem;">Last Name <span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                            <div class="right-field">
                                <p style="width: 14rem;">ID Card Number<span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                        </div>


                        <!-- sec-5 -->
                        <div class="main-sec" id="five-sec">
                            <div class="left-field">
                                <p style="width: 8rem;">Phone <span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                            <div class="right-field">
                                <p style="width: 19rem;">Educational Attachement<span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                        </div>

                        <!-- sec-6 -->
                        <div class="main-sec" id="six-sec">
                            <div class="left-field">
                                <p style="width: 8rem;">mobile <span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                            <div class="right-field">
                                <p style="width: 16rem;">Are you an employee?<span> *</span></p>
                                <div class="radio" id="radio-field">
                                    <label>
                                        <input type="radio" name="answer" value="yes">
                                        Yes
                                      </label>
                                    
                                      <label id="label-2">
                                        <input type="radio" name="answer" value="no">
                                        No
                                      </label>
                                </div>
                            </div>
                        </div>


                        <!-- sec-7 -->
                        <div class="main-sec" id="six-sec">
                            <div class="left-field">
                                <p style="width: 8rem;">Email <span> *</span></p>
                                <input type="email" class="email" name="" id="">
                            </div>
                            <div class="right-field">
                                <p style="width: 10rem;">Password<span> *</span></p>
                                <input type="password" class="password" name="" id="">
                            </div>
                        </div>
                        <!-- eight sec -->
                        <div class="main-sec" id="six-sec">
                            <div class="left-field">
                                <p style="width: 10rem;">Nationality <span> *</span></p>
                                <select name="emirates" id="emirates-select">
                                    <option selected></option>
                                    <option value="1">USA</option>
                                    <option value="2">Canada</option>
                                    <option value="3">Qatar</option>
                                    <option value="4">UAE</option>
                                    <option value="5">Italy</option>
                                    <option value="6">Pakistan</option>
                                </select>
                            </div>
                            <div class="right-field">
                                <p style="width: 14rem;">Confirm Password<span> *</span></p>
                                <input type="password" class="password" name="" id="">
                            </div>
                        </div>
                        <!-- nine sec -->
                        <div class="main-sec" id="six-sec">
                            <div class="left-field">
                                <p style="width: 8rem;">Gender <span> *</span></p>
                                <div class="radio" id="radio-field">
                                    <label>
                                        <input type="radio" name="answer" value="yes">
                                        Yes
                                      </label>
                                    
                                      <label id="label-2">
                                        <input type="radio" name="answer" value="no">
                                        No
                                      </label>
                                </div>
                            </div>
                            <div class="right-field">
                                <p style="width: 10rem;">Photograph<span> *</span></p>
                                <input type="text" class="text" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <div class="left-btn">
                        <span>Cancel</span>
                    </div>
                    <div class="right-btn">
                        <span>Register</span>
                    </div>
                </div>
    </div>
</div>
