<!-- <app-header></app-header> -->
<div class="main-container">
    <div class="side-bar">
        <app-side-bar-menue ></app-side-bar-menue>
    </div> 
    <div class="main-page">
       <div class="text-about">
            <div class="breadcrumb" >
                <nav aria-label="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="about us">Media Cent/</a></li>
                </ol>
                </nav>
            </div>
           <h1>Overview</h1>
           <p>Dissemination of legal culture and job awareness among employees<br>
                By providing them with systems, procedures and directives that ensure<br>
                their proper functioning</p>
       </div>
   </div>
   <div class="table-con">
        <div class="card">
            <table>
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>HE Dr. Abdur Rehman</td>
                    <td>Minister of Human Resourse and Emiratisation</td>
                    <td>
                        <div class="profile-img">
                            <img src="../assets/images/profile.jpg" alt="John Doe" width="122px" height="130px">
                        </div></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>HE Dr. Abdur Rehman</td>
                    <td>Undersecretary of Emiratisation</td>
                    <td>
                        <div class="profile-img">
                            <img src="../assets/images/profile.jpg" alt="John Doe" width="122px" height="130px">
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>BHE Dr. Abdur Rehman</td>
                    <td>Undersecretary of Human Resourse</td>
                    <td>
                        <div class="profile-img">
                            <img src="../assets/images/profile.jpg" alt="John Doe" width="122px" height="130px">
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
   </div>
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->

