<!-- <app-header></app-header> -->
<div class="main-container">
  <div class="sub-container" routerLink="/career-platform/recruitment/job-offer-details">
    <div class="side-bar">
      <app-side-bar-menue></app-side-bar-menue>
    </div>
    <div class="main-page">
      <div class="text-about">
        <div class="breadcrumb-1">
          <nav aria-label="breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                </svg>
                <a routerLink="laws-regulations">Jon Seekers</a>
              </li>
              <li class="breadcrumb-item">
                <a routerLink="laws-regulations">Jobs</a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="head-con">
          <div class="search-con">
            <li class="ic">
              <input type="text" name="" id="" placeholder="Search" />
              <div class="search-ico">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffff" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
              </div>
            </li>
          </div>
          <div class="text-head">
            <h2>Jobs List</h2>
          </div>
        </div>
      </div>
      <hr />
      <div class="card-cont">
        <div class="card-section">
          <div class="card-one">
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-two">
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="inner-card">
                <div class="text-ico">
                  <div class="innertop-head">
                    <h6>Retailer - Marketing</h6>
                  </div>
                  <div class="print-outer">
                    <div class="print-ico">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                          d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                          d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="code-con">
                  <span>FJ000094</span>
                </div>
                <br />
                <div class="detail-con">
                  <table>
                    <tr>
                      <td>Specialization</td>
                      <td>:</td>
                      <td>Marketing</td>
                    </tr>
                    <tr>
                      <td>Employer</td>
                      <td>:</td>
                      <td>Pvt Sector</td>
                    </tr>
                    <tr>
                      <td>DOP</td>
                      <td>:</td>
                      <td>10/28/2022</td>
                    </tr>
                    <tr>
                      <td>DOC</td>
                      <td>:</td>
                      <td>11/11/2022</td>
                    </tr>
                  </table>
                </div>
                <div class="card-para">
                  <span>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text</span>
                </div><br>
                <div class="submit-con">
                  <div class="card-submit">
                    <span>Submit</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer [displaySearchBar]="displaySearchBar"></app-footer> -->