<!-- <app-header></app-header> -->
<div class="main-container">
  <div class="side-bar">
    <app-side-bar-menue></app-side-bar-menue>
  </div>
  <div class="main-page">
    <div class="text-about">
      <div class="breadcrumb">
        <nav aria-label="breadcrumb-container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="laws-regulations">Laws & Regulations</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="laws-regulations">Legal Culture</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="head-top">
        <h2>Legal Culture</h2>
      </div>
    </div>
    <div class="section">
      <div class="left-sec">
            <div class="left-sec-contain">
                <div class="head-two">
                    <h4>Clients have to provide data...</h4><br><br><br>
                </div>
                <div class="para">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore roipi magna aliqua. Ut
                        enim ad minim veeniam, quis nostruklad exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in tufpoy voluptate velit esse cillum dolore eu fugiat
                        nulla parieratur. Excepteur sint occaecat cupidatat.
                    </p>
                </div><br><hr style="margin-left: 10px;"><br>
                <div class="para">
                    <p>
                        “Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem.”
                    </p>
                </div>
            </div>
      </div>
        <div class="right-sec">
            <div class="card"></div>
        </div>
    </div>
  </div>
</div>
<app-footer [displaySearchBar]="displaySearchBar"></app-footer>
